/* add-on styles */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}
body {
    background-color: transparent;
}
.centered {
    text-align: center;
}
.aui-lozenge {
  margin-right:2px;
  text-transform: none;
}
span.repo-loz {
  cursor: pointer !important;
}
.no-top-margin {
  margin-top:5px;
}
table.aui .right {
  text-align:right;
}
.aui-group>.aui-item.repo-add-sec {
  vertical-align: bottom;
  width:312px;
}
.repo-add-sec form {
  text-align:right;
}
.repo-results {
  text-align: left;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 0px;
  width: 248px;
  position: absolute;
  background: #fff;
  box-shadow: rgba(0,0,0,0.2) 0 0 3px;
  z-index:10;
}
button, input {
  outline: none !important;
}
.repo-results li {
  padding:5px 3px;
  margin:0;
  overflow:hidden;
  text-overflow:ellipsis;
}
.repo-results li:hover {
  background-color: #f5f5f5;
}
.addon .aui-group {
  margin-top:0;
}
.addon .centered {
  text-align: center;
}
.addon tr.repo-config {
  background-color:#eee;
}
.addon .relative {
  position:relative;
}
.addon .collapse-config {
  position:absolute;
  top:-4px;
  right:0;
}
.addon .toolcol {
  width:90px;
  min-width:90px;
}
.addon .repo-descr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 495px;
}